In [3]:

import os
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings(action='ignore', category=ConvergenceWarning)

import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd 
import seaborn as sns

from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

from statsmodels.tsa.tsatools import lagmat

In [4]:
df = pd.read_csv('new_exam_df.csv')

In [34]:

lagged_DK1 = lagmat(y, 5, use_pandas = True, trim = 'both')
df_new = df.join(lagged_DK1, how = 'right')

y = df_new['DK1']
X = df_new.drop(['DK1', 'SYS', 'DK2', 'date', 'hour'], axis = 1)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/10, random_state=161193)

# DEFINE A PIPELINE
pipe_preproc = make_pipeline(PolynomialFeatures(2, include_bias = False), 
                             StandardScaler())

# TRANSFORM TEST AND TEST DATA (note difference...)
X_train_prep = pipe_preproc.fit_transform(X_train) # transform training data
X_test_prep = pipe_preproc.transform(X_test) # transform test data

In [71]:
lagged_DK1 = lagmat(y, 24, use_pandas = True, trim = 'both')
lagged_DK1
#df_new = df.join(lagged_DK1, how = 'right')

,DK1.L.1,DK1.L.2,DK1.L.3,DK1.L.4,DK1.L.5,DK1.L.6,DK1.L.7,DK1.L.8,DK1.L.9,DK1.L.10,...,DK1.L.15,DK1.L.16,DK1.L.17,DK1.L.18,DK1.L.19,DK1.L.20,DK1.L.21,DK1.L.22,DK1.L.23,DK1.L.24
29,147.81,153.47,154.96,143.49,155.85,160.19,162.12,163.39,163.09,192.97,...,163.39,187.53,215.92,238.86,249.00,198.70,180.82,164.36,158.40,153.63
30,148.33,147.81,153.47,154.96,143.49,155.85,160.19,162.12,163.39,163.09,...,161.97,163.39,187.53,215.92,238.86,249.00,198.70,180.82,164.36,158.40
31,149.67,148.33,147.81,153.47,154.96,143.49,155.85,160.19,162.12,163.39,...,161.08,161.97,163.39,187.53,215.92,238.86,249.00,198.70,180.82,164.36
32,150.42,149.67,148.33,147.81,153.47,154.96,143.49,155.85,160.19,162.12,...,160.71,161.08,161.97,163.39,187.53,215.92,238.86,249.00,198.70,180.82
33,154.89,150.42,149.67,148.33,147.81,153.47,154.96,143.49,155.85,160.19,...,161.60,160.71,161.08,161.97,163.39,187.53,215.92,238.86,249.00,198.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41660,454.41,456.35,440.42,420.63,394.89,389.54,375.85,324.14,321.61,353.38,...,167.69,158.39,158.98,161.14,167.32,388.79,172.05,340.37,380.32,389.17
41661,442.43,454.41,456.35,440.42,420.63,394.89,389.54,375.85,324.14,321.61,...,176.32,167.69,158.39,158.98,161.14,167.32,388.79,172.05,340.37,380.32
41662,421.83,442.43,454.41,456.35,440.42,420.63,394.89,389.54,375.85,324.14,...,251.83,176.32,167.69,158.39,158.98,161.14,167.32,388.79,172.05,340.37
41663,390.13,421.83,442.43,454.41,456.35,440.42,420.63,394.89,389.54,375.85,...,282.48,251.83,176.32,167.69,158.39,158.98,161.14,167.32,388.79,172.05
41664,385.82,390.13,421.83,442.43,454.41,456.35,440.42,420.63,394.89,389.54,...,338.35,282.48,251.83,176.32,167.69,158.39,158.98,161.14,167.32,388.79

In [67]:
d_lag = {}
metObs_listV2 = [ 'wind_max_per10min_past1h', 'temp_soil_max_past1h', 'cloud_cover']
climate_listV1 = ['bright_sunshine', 'mean_radiation', 'mean_pressure', 'acc_precip', 'temp_grass', 'mean_relative_hum', 'mean_temp', 'mean_wind_speed' ,'mean_wind_dir']
dmi_list = metObs_listV2 + climate_listV1
for i in dmi_list:
    d_lag[i] = lagmat(df[i], 1, use_pandas = True, trim = 'both')
df_lag_dmi = pd.concat(d_lag.values(), axis = 1)

In [68]:
d_lag_commodity = {}
list_of_commodities = ['gold', 'silver', 'crude-oil', 'rotterdam-coal-futures', 'natural-gas', 'carbon-emissions']
for i in list_of_commodities:
    d_lag_commodity[i] = lagmat(df[i], 1, use_pandas = True, trim = 'both')
df_lag_commodity = pd.concat(d_lag_commodity.values(), axis = 1)

In [69]:
exchange_list = ['DK net exchange', 'DK1 net exchange', 'DK2 net exchange', 'DK - DE',
       'DK - NO', 'DK - SE', 'DK1 - SE3', 'DK2 - SE4', 'DK1 - DE', 'DK2 - DE',
       'DK1 - DK2']
d_lag_exchange = {}
for i in exchange_list:
    d_lag_exchange[i] = lagmat(df[i], 1, use_pandas = True, trim = 'both')
df_lag_exchange = pd.concat(d_lag_exchange.values(), axis = 1)

In [74]:
#all_lagged
list_of_df_lags = [df_lag_dmi, df_lag_commodity, df_lag_exchange, lagged_DK1]
df_new = df.copy()
for i in list_of_df_lags:
    df_new = df_new.join(i)

In [78]:
df_new = df_new.dropna().drop(exchange_list, axis = 1).drop(list_of_commodities, axis = 1).drop(dmi_list, axis = 1)

In [86]:
df_new.index = pd.to_datetime(df_new['date'].apply(str)+' '+pd.to_datetime(df_new['hour'], format = '%H').dt.time.apply(str))
df_new['month'] = df_new.index.month
df_new['weekday'] = df_new.index.weekday

from collections import defaultdict
d = defaultdict(list)

d[0] = pd.get_dummies(df_new['hour'], prefix = 'hour')
d[1] = pd.get_dummies(df_new['weekday'], prefix = 'weekday')
d[2] = pd.get_dummies(df_new['month'], prefix = 'month')
df_join = df_new.copy()
for i in d.values():
    df_join = df_join.join(i)

In [88]:
df_join.to_csv('dfV1.csv')

In [6]:
df= pd.read_csv('/Users/simonjuulhansen/Desktop/Polit/ISDS/ISDS_arbejde/dfV1.csv')

In [14]:
df = df.set_index('Unnamed: 0')

In [25]:
df.drop(['weekday_0', 'hour_0', 'month_1'], axis = 1, inplace = True)

In [27]:
df.to_csv('dfV1.csv')